<ion-header>
  <ion-toolbar color="medium text-center">
    <ion-title class="supersize">Usuarios</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="supersize2" routerLink="/users/form">
        Añadir
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="mt-5 " *ngIf="users.length>0;else noData">
    <table class=" ml-2 mr-2 supersize2 table table-bordered table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th><b>Nombre de Usuario:</b></th>
          <th><b>Permisos:</b></th>
          <th><b>Acivo:</b></th>
          <th>Acciones:</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor=" let user of users">
          <td>{{user.username}}</td>
          <td>{{user.permission}}</td>
          <td>{{this.beautifyEnabled(user.enabled)}}</td>

          <td>
            <ion-button color="success" *ngIf="!user.enabled" (click)="reactivate(user.id,user)">Reactivar
            </ion-button>
            <ion-button color="danger" *ngIf="user.enabled" (click)="delete(user.id,user)">Eliminar</ion-button>
          </td>
        </tr>
      </tbody>
    </table>

  </ion-card>

</ion-content>