<ion-header>
  <ion-toolbar color="success text-center">
    <ion-title class="supersize">Añadir producto:</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="products" (click)="cancel()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="mr-3 ml-3 mt-5">

    <form [formGroup]="productForm" (ngSubmit)="productSubmit()">

      <ion-item class="supersize">
        <ion-label>Código:</ion-label>
        <ion-input [disabled]="this.operation=='edit'" type="text" placeholder="Código" formControlName="code">
        </ion-input>
      </ion-item>

      <ion-item class="supersize">
        <ion-label>Descripción:</ion-label>
        <ion-textarea text-wrap formControlName="desc"></ion-textarea>
      </ion-item>

      <ion-item class="supersize">
        <ion-label>Precio:</ion-label>
        <ion-input type="number" placeholder="Precio" formControlName="price"></ion-input>
      </ion-item>


      <ion-row class="mt-3">
        <ion-col size="6">
          <ion-button class="supersize2" expand="full" color="danger" (click)="cancel()">Cancelar</ion-button>
        </ion-col>

        <ion-col size="6">
          <ion-button class="supersize2" expand="full" color="primary" type="submit" [disabled]="!productForm.valid">
            Enviar</ion-button>
        </ion-col>

      </ion-row>
    </form>
  </ion-card>
</ion-content>