<ion-header>
  <ion-toolbar color="secondary text-center">
    <ion-title class="supersize">Añadir Descuento:</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="price-reductions" (click)="cancel()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="mr-3 ml-3 mt-5">

    <form [formGroup]="priceReductionForm" (ngSubmit)="priceReductionSubmit()">

      <ion-item class="supersize">
        <ion-label>Fecha de Inicio:</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" cancelText="Cancelar" doneText="Confirmar"
          formControlName="startingDate"></ion-datetime>
      </ion-item>

      <ion-item class="supersize">
        <ion-label>Fecha de Fin:</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" cancelText="Cancelar" doneText="Confirmar" formControlName="endDate">
        </ion-datetime>
      </ion-item>

      <ion-item class="supersize">
        <ion-label>Descuento(%):</ion-label>
        <ion-input type="number" placeholder="Precio" formControlName="reducedPrice"></ion-input>
      </ion-item>


      <ion-row class="mt-3">
        <ion-col size="6">
          <ion-button class="supersize2" expand="full" color="danger" (click)="cancel()">Cancelar</ion-button>
        </ion-col>

        <ion-col size="6">
          <ion-button class="supersize2" expand="full" color="primary" type="submit"
            [disabled]="!priceReductionForm.valid">
            Enviar</ion-button>
        </ion-col>

      </ion-row>
    </form>
  </ion-card>
</ion-content>