<ion-content>
  <div class="mt-5 row justify-content-center align-items-center">
    <ion-card class="pl-5 pr-5">
      <ion-card-title class="supersize text-center mt-3 mb-3">Iniciar Sesión</ion-card-title>
      <form class="form" [formGroup]=" loginForm" (ngSubmit)="submit()">

        <ion-item class="form-group supersize2">
          <ion-input type=" text" placeholder="Nombre de Usuario" formControlName="username">
          </ion-input>
        </ion-item>

        <ion-item class="form-group supersize2">
          <ion-input type="password" placeholder="Contraseña" formControlName="password"></ion-input>
        </ion-item>


        <ion-button class="mt-4 form-group overflow-me" expand="full" fill="outline" shape="round" color="primary"
          type="submit" [disabled]="!loginForm.valid">Entrar</ion-button>


      </form>
    </ion-card>
  </div>

</ion-content>