.supersize {
    font-size: 300%;
}

.supersize2 {
    font-size: 200%;
}

.overflow-me {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 200%;
}

.mtextra {
    margin-top: 150px;
}