<ion-header>
  <ion-toolbar color="success text-center">
    <ion-title class="supersize">Productos</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="supersize2" (click)="formProduct('add',null)">
        Añadir
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="mt-4 ml-5 mr-5">
    <ion-col>
      <ion-label class="supersize"><b>Filtro de productos(estado):</b></ion-label>
      <ion-card color="success">

        <ion-select wrap-text interface="popover" class="supersize" (ionChange)="filterProducts()" [(ngModel)]="filter">
          <ion-select-option class="supersize" value="all">- Todos</ion-select-option>
          <ion-select-option class="supersize" value="active">- Activos</ion-select-option>
          <ion-select-option class="supersize" value="discounted">- Descartados</ion-select-option>

        </ion-select>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-card class="mt-5 " *ngIf="products.length>0;else noData">
    <table class=" ml-2 mr-2 supersize2 table table-bordered table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th><b>Código:</b></th>
          <th><b>Descripción:</b></th>
          <th><b>Fecha de creación:</b></th>
          <th><b>Creador:</b></th>
          <th><b>Estado:</b></th>
          <th><b>Precio(€):</b></th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor=" let product of auxProducts">
          <td>{{product.code}}</td>
          <td>{{product.description}}</td>
          <td>{{this.utils.formatDate(product.creationDate)}}</td>
          <td>{{product.creator.username}}</td>
          <td>{{this.beautifyStatus(product.state)}}</td>
          <td>{{product.price}}</td>
          <td>
            <ion-button color="success" (click)="toDetails(product)">Abrir</ion-button>
            <ion-button color="primary" (click)="formProduct('edit',product)">Editar</ion-button>
            <ion-button color="warning" *ngIf="product.state!=='DISCOUNTED'" (click)="report(product)">
              Descartar</ion-button>
            <ion-button *ngIf=" checkPermissions()" color="danger" (click)="delete(product.id)">Eliminar</ion-button>
            <ion-button color="secondary" (click)="assign('supplier',product)">Asignar Proveedores</ion-button>
            <ion-button color="medium" (click)="assign('priceReduction',product)">Asignar Descuentos
            </ion-button>


          </td>
        </tr>
      </tbody>
    </table>

  </ion-card>

</ion-content>